PORT=3000
DB_HOST=localhost
# Optional. Leave empty when connecting by fixed TCP port.
DB_INSTANCE=
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=admin
DB_DATABASE=aivacol
JWT_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
AUTH_EMAIL=admin@aivacol.com
AUTH_PASSWORD=aivacol@123
AUTH_NICKNAME=admin
AUTH_NAME=Administrador Aivacol
CACHE_DRIVER=memory
# Production only (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379
